.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #111111;
    color: #ffffff;
    font-family: "Poppins";
    color: yellow;
    height: 65px;
  }
  
  .nav-links {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 24px;
  }

  .nav-links a {
    /* margin-left: 15px; */
    color: #ffffff;
    width: 20px;
    font-weight: bold;
    text-decoration: none;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  